# Dependencies
client/node_modules/
ai-service/venv/
ai-service/.venv/

# Next.js build output
client/.next/
client/out/
client/build/

# Python cache and build files
ai-service/__pycache__/
ai-service/*.pyc
ai-service/pose_landmarker.task

# Environment variables (Crucial to ignore!)
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.env*.local
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
